# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a8f43b6791e847c210d3e5812903ab76
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format: postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=16&charset=utf8
DATABASE_URL="postgresql://postgres:secret@127.0.0.1:5432/minijira?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=minijira_jwt_passphrase_secure_2025
###< lexik/jwt-authentication-bundle ###

###> symfony/mailer ###
# Option 1: Gmail avec Mot de Passe d'Application (ex: r.titankelyy@gmail.com)
# MAILER_DSN="gmail+smtp://r.titankelyy%40gmail.com:VOTRE_APP_PASSWORD@default"
# Option 2: Serveur SMTP générique (Mailtrap, Brevo, SendGrid)
MAILER_DSN="smtp://localhost:1025"
MAILER_FROM="Mini-Jira <r.titankelyy@gmail.com>"
###< symfony/mailer ###
